h1{
    color:blue;
}
p{
    color:green;
}

ul{
    font-style: italic;
    color:red
}
a{
    color: green;
}
img{
    padding: 15px;
    border-style: solid;
    color: green;
}

